<div class="main home">
    <div class="home-left fl">

        <div class="home-homework-stats">
            <h4 class="ofh">
                <span class="fl f16 fb">未完成作业</span>
                <a href="#" class="fr blue">查看全部作业</a>
            </h4>
            <p>亲爱的同学，你有 <span><b class="color-red  ">33</b></span> 个作业未完成，
                <a href="#"><b>语文</b><span><b class="color-red ">21</b></span></a>个，
                <a href="#"><b>数学</b><span><b class="color-red ">9</b></span></a>个，
                <a href="#"><b>英语</b><span><b class="color-red ">3</b></span></a>个，快来完成吧！
            </p>
        </div>
        <!-- 课程列表 -->
        <!-- 作业列表 -->
        <div class="home-homework-list">
            <div class="home-homework-item">
                <h3><span class="home-icon-yuwen"></span><b>语文作业</b></h3>
                <ul>
                    <li ng-repeat="homeworkDetail in chineseHomework">
                        <div class="home-homework-title fl"><a href="#">{{homeworkDetail.F_title}}</a></div>
                        <div class="home-homework-status fl"><span class="icon-makeup-status"></span>{{homeworkDetail.info}}</div>
                        <div class="home-homework-finished fl">{{homeworkDetail.count}}人已完成</div>
                    </li>
                </ul>
            </div>
            <div class="home-homework-item mt20">
                <h3><span class="home-icon-shuxue"></span><b>数学作业</b></h3>
                <ul>
                    <li ng-repeat="homeworkDetail in mathHomework">
                        <div class="home-homework-title fl"><a href="#">{{homeworkDetail.name}}</a></div>
                        <div class="home-homework-status fl"><span class="icon-makeup-status"></span>{{homeworkDetail.info}}</div>
                        <div class="home-homework-finished fl">{{homeworkDetail.count}}人已完成</div>
                    </li>
                </ul>
            </div>
            <div class="home-homework-item mt20">
                <h3><span class="home-icon-yingyu"></span><b>英语作业</b></h3>
                <ul>
                    <li ng-repeat="homeworkDetail in englishHomework">
                        <div class="home-homework-title fl"><a href="#">{{homeworkDetail.name}}</a></div>
                        <div class="home-homework-status fl"><span class="icon-makeup-status"></span>{{homeworkDetail.info}}</div>
                        <div class="home-homework-finished fl">{{homeworkDetail.count}}人已完成</div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 作业列表END -->

    </div>
    <div class="home-right fl">
        <dl class="home-userinfo ofh">
            <dt><img src="../static/images/noavatar.jpg" width="90"></dt>
            <dl class="fb f16">张波</dl>
            <dl><a class="blue">修改密码</a></dl>
            <dl>
                <div class="point  fl">
                    <p>荣誉</p>
                    <p><span class="count vm color-red">140</span><span class="vm">次<span></p></div></dl>
		 	</dl>
		 	<div class="home-favorite  ofh">
		 		<h3>收藏夹</h3>
		 		<a href="#" class="fl">
		 			<ul>
		 				<li class="favorite-name">错题本</li>
		 				<li class="favorite-count"><b class="fl">25</b><span  class="icon-fav-wrong fr"></span></li>
                        </ul>
                        </a>
                        <a href="#" class="fl">
                            <ul>
                                <li class="favorite-name">收藏本</li>
                                <li class="favorite-count"><b class="fl">25</b><span class="icon-fav-good fr"></span></li>
                            </ul>
                        </a>

                </div>

                <div class="home-glory ofh">
                    <h3><a href="#" class="blue fr">更多</a>我的荣辱记录</h3>
                    <ul>
                        <li>语文课堂《课文 7 古诗二首（一）》， 获得团队合作表扬1次<img style="height:19px;width:19px;" class="vm ml10" src="../static/images/prise1.png"></li>
                        <li>语文课堂《课文 7 古诗二首（一）》， 获得团队合作表扬1次<img style="height:19px;width:19px;" class="vm ml10" src="../static/images/prise2.png"></li>
                    </ul>
                </div>

    </div>

</div>