body,
div,
a,
li,
span,
img {
  margin: 0;
}
td {
  width: 1200px;
  height: 20px;
}
.test-only-border {
  border: 1px solid purple;
}
.test-add-size {
  width: 100px;
  height: 100px;
  border: 5px solid green;
  padding: 20px;
}
.text-center {
  position: relative;
  margin: 0 auto;
}
.text-left {
  position: relative;
  float: left;
}
.text-right {
  position: relative;
  float: right;
}
.container {
  margin: 0 auto;
  width: 1000px;
}
li {
  margin: 0;
  list-style: none;
  color: #23527c;
  text-decoration: underline;
}
li a {
  color: #23527c;
  text-decoration: none;
}
.inline {
  display: inline;
}
.block {
  display: block;
}
.content-col-1 {
  width: 8.33333333%;
  padding: 0 10px;
  position: relative;
  float: left;
  box-sizing: border-box;
}
.content-col-2 {
  width: 16.66666667%;
  padding: 0 10px;
  position: relative;
  float: left;
  box-sizing: border-box;
}
.content-col-3 {
  width: 25%;
  padding: 0 10px;
  position: relative;
  float: left;
  box-sizing: border-box;
}
.content-col-4 {
  width: 33.3333333%;
  padding: 0 10px;
  position: relative;
  float: left;
  box-sizing: border-box;
}
.content-col-5 {
  width: 41.66666667%;
  padding: 0 10px;
  position: relative;
  float: left;
  box-sizing: border-box;
}
.content-col-6 {
  width: 50%;
  padding: 0 10px;
  position: relative;
  float: left;
  box-sizing: border-box;
}
.content-col-7 {
  width: 58.33333333%;
  padding: 0 10px;
  position: relative;
  float: left;
  box-sizing: border-box;
}
.content-col-8 {
  width: 66.66666666%;
  padding: 0 10px;
  position: relative;
  float: left;
  box-sizing: border-box;
}
.content-col-9 {
  width: 75%;
  padding: 0 10px;
  position: relative;
  float: left;
  box-sizing: border-box;
}
.content-col-10 {
  width: 83.33333333%;
  padding: 0 10px;
  position: relative;
  float: left;
  box-sizing: border-box;
}
.content-col-11 {
  width: 91.66666667%;
  padding: 0 10px;
  position: relative;
  float: left;
  box-sizing: border-box;
}
.content-col-12 {
  width: 100%;
  padding: 0 10px;
  position: relative;
  float: left;
  box-sizing: border-box;
}
.p-vertical--small {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.p-vertical--medium {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.p-vertical--large {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.p-vertical--x-large {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.p-vertical--xx-large {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.p-horizontal--small {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.p-horizontal--medium {
  padding-right: 1rem;
  padding-left: 1rem;
}
.p-horizontal--large {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.p-horizontal--x-large {
  padding-right: 2rem;
  padding-left: 2rem;
}
.p-horizontal--xx-large {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}
.m-vertical--small {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.m-vertical--medium {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.m-vertical--large {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.m-vertical--x-large {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.m-vertical--xx-large {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.m-horizontal--small {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.m-horizontal--medium {
  margin-right: 1rem;
  margin-left: 1rem;
}
.m-horizontal--large {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
.m-horizontal--x-large {
  margin-right: 2rem;
  margin-left: 2rem;
}
.m-horizontal--xx-large {
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}
.text-vertical-middle {
  vertical-align: middle;
}
body {
  background: #e6fcfe;
}
.homework-table td {
  padding: 8px 0;
  border-bottom: 1px dotted #CECDCC;
}
.header-background {
  background-size: cover;
  overflow: visible;
  background: url(../images/student/bg_top_bar.png) center 0 repeat-x;
}
.container-background {
  overflow: hidden;
  background: url(../images/student/bg_main_left_right.png) repeat-y;
}
.content-bottom-background {
  height: 41px;
  background: url(../images/student/bg_main_bottom.png) 1px 0 no-repeat;
}
.footer-background {
  height: 128px;
  width: 100%;
  background: url(../images/student/bg_footer.png) center 0 no-repeat;
}
.index-main-right-background {
  background: url(../images/student/bg_index_main_right.png) repeat-y;
}
.item-title {
  font-size: 18px;
  font-weight: bold;
  font-family: "Microsoft YaHei";
}
.homework-table tr {
  padding: 10px 0;
  border-bottom: 1px dotted #CECDCC;
}
.nav-selected {
  height: 84px;
  width: 90px;
  display: inline-block;
  background: url(../images/student/bgs_nav_item.png) no-repeat;
}
.nav-unselected {
  height: 84px;
  width: 90px;
  display: inline-block;
}
.nav-unselected:hover {
  background: url(../images/student/bgs_nav_item.png) no-repeat 0 -84px;
}
.nav-home {
  display: block;
  height: 65px;
  width: 90px;
  background: url(../images/student/icons_nav.png) no-repeat 0px -65px;
}
.nav-homework {
  display: block;
  height: 65px;
  width: 90px;
  background: url(../images/student/icons_nav.png) no-repeat -90px -65px;
}
.nav-record {
  display: block;
  height: 65px;
  width: 90px;
  background: url(../images/student/icons_nav.png) no-repeat -180px -65px;
}
.nav-textbook {
  display: block;
  height: 65px;
  width: 90px;
  background: url(../images/student/icons_nav.png) no-repeat -270px -65px;
}
.nav-activities {
  display: block;
  height: 65px;
  width: 90px;
  background: url(../images/student/icons_nav.png) no-repeat -360px -65px;
}
.nav-class {
  display: block;
  height: 65px;
  width: 90px;
  background: url(../images/student/icons_nav.png) no-repeat -450px -65px;
}
.nav-myAnswer {
  display: block;
  height: 65px;
  width: 90px;
  background: url(../images/student/icons_nav.png) no-repeat -540px -65px;
}
.homework-chinese {
  display: inline-block;
  height: 42px;
  width: 58px;
  background: url(../images/student/icons.png) no-repeat 0px 0px;
}
.homework-math {
  display: inline-block;
  height: 42px;
  width: 58px;
  background: url(../images/student/icons.png) no-repeat -58px 0px;
}
.light-background {
  height: 100%;
  width: 100%;
  display: inline-block;
  background: url(../images/student/light.jpg);
}
.line-bachgound {
  height: 31px;
  background: url(../images/student/line.png) repeat-x scroll 0 13px rgba(0, 0, 0, 0);
}
.btn-refresh {
  padding: 0px;
  height: 31px;
  width: 80px;
  background: url(../images/student/btn-refresh.png) 1px 0 no-repeat;
}
.teacher-ip {
  height: 35px;
  border-radius: 5px;
  border: 1px solid #63A7BB;
}
.loading-icon {
  height: 32px;
  width: 32px;
  display: inline-block;
  background: url(../images/student/loading.gif) 1px 0 no-repeat;
}
.vetically {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.st-icon {
  height: 251px;
  width: 379px;
  display: inline-block;
  background: url(../images/student/lock.png) 1px 0 no-repeat;
}
.iclass {
  height: 80px;
  background: none repeat scroll 0 0 #EBFBFF;
  border: 1px solid #93C7D6;
  box-shadow: 0 0 3px 1px #63A7BB;
  cursor: pointer;
  opacity: 1;
  position: relative;
}
.iclass-selected {
  border-radius: 3px;
  border: 1px solid #cccccc;
  float: left;
  height: 82px;
  margin-left: 2.4%;
  opacity: 0.3;
  /*width: 22%;*/
}
.iclass-icon {
  width: 60px;
  height: 60px;
  padding: 0px;
  margin-top: 10px;
  vertical-align: middle;
}
.iclass-information {
  display: block;
  font-size: 18px;
  margin-top: 12px;
  font-weight: bold;
}
#iclass-loading {
  bottom: 0;
  left: 0;
  opacity: 0.9;
  /* important*/
  position: fixed;
  right: 0;
  top: 0;
  background: black;
  filter: alpha(opacity=50);
  /*IE6*/
  -moz-opacity: 0.5;
  /*Mozilla old version*/
  -khtml-opacity: 0.5;
  /*Safari old version*/
  display: none;
}
#iclass-study {
  bottom: 0;
  left: 0;
  opacity: 0.9;
  /* important*/
  position: fixed;
  right: 0;
  top: 0;
  background: grey;
  filter: alpha(opacity=50);
  /*IE6*/
  -moz-opacity: 0.5;
  /*Mozilla old version*/
  -khtml-opacity: 0.5;
  /*Safari old version*/
}
.student-login-container {
  margin: 0 auto;
  width: 1500px;
}
#student-login-body-background {
  height: 577px;
  background: url(../images/student/bg_login_logo.png) 1px 0 no-repeat;
}
#student-login-container-background {
  width: 1438px;
  height: 652px;
  margin: 0 auto;
  position: absolute;
  bottom: 0px;
  background: url(../images/student/bg_login.png) 1px 0 no-repeat;
}
.student-login-icon {
  width: 381px;
  height: 361px;
  margin: auto 0;
  right: 200px;
  top: 100px;
  background: url(../images/student/img_layout.png) 1px 0 no-repeat;
}
.student-login-position {
  margin: 0px;
  padding: 0px;
}
.student-login-input {
  width: 288px;
  padding: 12px 14px;
  border: 1px solid #C4C4C4;
}
.student-login-option {
  margin-bottom: 20px;
}
.student-login-submit {
  text-decoration: none;
  display: inline-block;
  width: 288px;
  padding: 6px 0;
  border: 1px solid #829E0C;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.36);
  background: #8EBA17;
  color: #FFF;
  font-size: 26px;
  text-align: center;
}
