<!-- <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/> -->
<link href="../static/css/homework.css" rel="stylesheet" type="text/css" />
<link href="../static/css/learn.css" rel="stylesheet" type="text/css" />
<!-- <link href="../static/css/ask.css" rel="stylesheet" type="text/css"/> -->
<link href="../static/css/ask-detail.css" rel="stylesheet" type="text/css" />
<!-- 可变内容 -->
<div class="main growup" style="min-height: 600px;">


    <div id="qa_detail" class="layout_h" style="background-color: transparent;margin: auto;">
        <div style="height:42px;position: relative;padding: 5px 10px;">
            <span style="left:140px;position:absolute;color:#666666;font:12px/1.5 &quot;宋体&quot;;line-height:52px;">当前位置：&nbsp;&nbsp;<a href="#ask" style="cursor:pointer">我的回答</a>&nbsp;&gt;&nbsp;问题详情</span>
            <div class="icon_back">返回</div>
        </div>
        <div class="answerdiv" id="answerdiv" style="height: 532px;">
            <div class="answerdivdetail">
                <div class="answer">
                    <div class="top">
                        <div><img src="http://www.anoah.com/uploads/users/90/25/224696.jpg?t=0" class="left avg"></div>
                        <div class="left realName">
                            <div class="name"><b>李颖</b></div>
                            <div class="time"><span>2016-12-07 11:27</span></div>
                        </div>
                        <div class="right solve hide"><span class="mark-solve">已解决</span></div>
                    </div>
                    <div class="content"><span>1+e约等于几</span></div>
                    <div class="s8s-img"> </div>
                </div>
                <div class="col-del"> <span _tk="QAdetail.detail.favorite_add(119696)"> <i class="icon_collect"></i> <span>收藏</span> </span>
                </div>
            </div>
            <div class="me-answer">
                <div class="me-answerft">我来回答</div>
                <div style="border:1px solid #dddddd"> <textarea id="me-content" rows="8" style="resize:none;border:none;"></textarea>
                    <div class="me-method">
                        <div class="me-scr left"><i class="icon_scr s8s"></i>录屏</div>
                        <div class="me-scr left"><i class="icon_scr painthand"></i>手写</div>
                        <div class="me-scr left"><i class="icon_scr record"></i>录音</div>
                        <div class="me-scr left"><i class="icon_scr photo"></i>拍照</div>
                        <div class="me-scr left"><i class="icon_scr upload"></i>上传</div>
                        <div class="me-commit right">提交回答</div>
                    </div>
                    <div class="fatheruseransdiv">
                        <div class="useransdiv"></div>
                    </div>
                </div>
            </div>
            <div class="answer_count">全部回答（<span>0</span>）</div>
            <div class="footdiv">
                <div class="footdivlist"> <i class="icon_info"></i> </div>
            </div>
        </div>
    </div>

</div>
<!-- 可变内容 -->