<!-- <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/> -->
<link href="../static/css/homework.css" rel="stylesheet" type="text/css" />
<link href="../static/css/learn.css" rel="stylesheet" type="text/css" />
<!-- <link href="../static/css/ask.css" rel="stylesheet" type="text/css"/> -->
<link href="../static/css/ask-ask.css" rel="stylesheet" type="text/css" />

<!-- 可变内容 -->
<div class="main growup" style="min-height: 500px;">


    <div id="qa_qform" class="qa_qform" tabindex="1" style="left: 0px; overflow: auto;position: relative;margin: 0px 20px;">
        <div class="qform-title bg-green">
            <div style="left:140px;line-height:60px;position:absolute;color:#333333;font-size:12px;">当前位置:&nbsp;<a style="cursor:pointer">问答首页</a>&gt;&gt;&nbsp;我要提问</div>
            <div class="qforms8sbndiv"></div>
        </div>
        <div class="qform_subjectdiv">
            <span class="subjectbndiv" style="cursor: default;">科目:</span>
            <span class="subjectbndiv click">语文</span>
            <span class="subjectbndiv">数学</span>
            <span class="subjectbndiv">英语</span>
            <span class="subjectbndiv">科学</span>
            <span class="subjectbndiv">政治</span>
            <span class="subjectbndiv">历史</span>
            <span class="subjectbndiv">地理</span>
            <span class="subjectbndiv">物理</span>
            <span class="subjectbndiv">化学</span>
            <span class="subjectbndiv">生物</span>
            <span class="subjectbndiv">其他</span>
        </div>
        <div class="qform-img fl">
            <div class="addimg"> + <span class="addimgtextspan">添加问题截图</span> </div>
            <div class="s8s-file" style="display:none;line-height:10rem;"> <img class="btn" src="../images/s8s_rerecord_btn.png" style="vertical-align: middle; height: 6rem; width: 6rem;"> <img class="btn" src="icoms/QAbase/res/images/s8s_play_btn.png" style="vertical-align: middle; margin-left: 3rem; height: 6rem; width: 6rem;"
                    _tk="QAqform.formask.viewS8s();"> <span class="close">×</span> </div> <span class="s8s-toast">点“X”删除录屏将重新显示图片</span> </div>
        <div id="qform_userchoicediv" class="qform_userchoicediv fl">@向谁提问
            <div class="qform_classnamearraw"></div>
        </div>
        <div class="qform-input-text fl"> <textarea tabindex="100" type="text" info="请用文字补充描述你的问题，一次只能提一道题哦!" style="color:#888888;" onfocus="if(value==$(this).attr('info')){value='';$(this).css('color','#000000');}" onblur="if(value==''){value=$(this).attr('info');$(this).css('color','#888888');}">请用文字补充描述你的问题，一次只能提一道题哦!</textarea>            </div>
        <div style="clear:both;"></div>
        <div class="qform-input-s8s">
            <div class="qformsubmitbndiv"></div>
            <div class="qformreturnbndiv"></div>
        </div>
        <div class="askteam_btn"></div>
    </div>

</div>
<!-- 可变内容 -->