<link href="./css/homework.css" rel="stylesheet" type="text/css" />

<!-- 可变内容 -->
<div class="main homework">
    <div class="content homework-details dib fl" style="min-height: 500px;">
        <p class="location color-666">位置：
            <a href="./homework.html" class="color-666">我的作业</a> &gt; 作业详情
            <!--(10/21)-->
        </p>
        <div class="homework-header rel">
            <div class="title ms-yahei">第一组[课前导学]</div>
            <p><span class="color-666">作业时间：</span>2016-11-04 15:25:11至2016-11-05 15:25:00</p>
            <p><span class="color-666">发布老师：</span>梁耀灯&nbsp;&nbsp;&nbsp;&nbsp;<span class="color-666">发布对象：</span>六年级代代新8</p>
            <div id="right-top-status">
                <!--未完成-->
                <div class="icon-unfinished state timeout abs t0 r0">
                    <div class="mask abs dn">
                        <span class="dib"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="left fl">
            <div class="data-list clb" id="homework-list">
                <!--资源列表区域-->
                <div class="title f16 ms-yahei">作业：<span class="color-666">（共3个）</span></div>
                <table class="wall f14">
                    <tbody>
                        <tr class="cp">
                            <td class="index">1、</td>
                            <td class="logo">
                                <span class="icon-upload-ppt vm mr10"></span>
                            </td>
                            <td class="name2">
                                <div class="ellipsis">
                                    <a href="javascript:void(0);" title="金色的脚印">
											金色的脚印
										</a></div>
                            </td>
                            <td class="state2 tr"><span class=""></span></td>
                        </tr>
                        <tr class="cp">
                            <td class="index">2、</td>
                            <td class="logo">
                                <span class="icon-upload-ppt vm mr10"></span>
                            </td>
                            <td class="name2">
                                <div class="ellipsis">
                                    <a href="javascript:void(0);" title="跑进家来的松鼠">
												跑进家来的松鼠
											</a></div>
                            </td>
                            <td class="state2 tr"><span class=""></span></td>
                        </tr>
                        <tr class="cp">
                            <td class="index">3、</td>
                            <td class="logo">
                                <span class="icon-upload-ppt vm mr10"></span>
                            </td>
                            <td class="name2">
                                <div class="ellipsis">
                                    <a href="javascript:void(0);" title="跑进家来的松鼠">
													跑进家来的松鼠
												</a></div>
                            </td>
                            <td class="state2 tr"><span class=""></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="right fl" id="content-right">
            <!--右侧区域-->
            <!--评论-->
            <!--已批改的作业才显示 表扬和评论信息-->
            <div class="module">
                <div class="title mt10 mb10 f16 ms-yahei rel"><span class="color-red">2</span>人已完成
                </div>
            </div>
            <div class="student-list">

                <div class="item dib fl">
                    <img src="" alt="">
                    <span class="name wall dib tc ellipsis" title="李峰">李峰</span>
                </div>
                <div class="item dib fl">
                    <img src="" alt="">
                    <span class="name wall dib tc ellipsis" title="陈方亮">陈方亮</span>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar fix dn" id="detail_sidebar" style="display: none;">
        <a href="javascript:void(0)" class="dib fl scroll-top"></a>
    </div>
</div>
<!-- 可变内容 -->