<link rel="stylesheet" type="text/css" href="./css/learn.css">

<!-- 可变内容 -->
<div class="main growup">
    <div class="content query dib fl" style="min-height: 500px;">
        <div style="font-size:18px;font-weight:bold;margin:20px 0px 10px 106px;">
            我加入的班级
        </div>
        <div class="filter clb f14" style="margin-left:106px;"> 
            <div class="classblockdiv">
                <div class="cbimagediv">
                    <img style="width:140px;height:90px;" src="../static/images/logo_class_all.png">
                </div>
                <a href="#learn/detail">
                    <div class="growup-class">
                        <div class="growup-class-title">
                            六年级
                        </div>
                        <div class="growup-class-info">
                            班主任:未设置
                        </div>
                        <div class="growup-class-info">
                            班级成员:10 
                        </div>
                        <div class="growup-class-info">
                            班级号:17971
                        </div>
                    </div>
                </a>
            </div>
            <div class="classblockdiv">
                <div class="cbimagediv">
                    <img style="width:140px;height:90px;" src="../static/images/logo_class_all.png">
                </div>
                <div class="growup-class">
                    <div class="growup-class-title">
                        六年级
                    </div>
                    <div class="growup-class-info">
                        班主任:未设置
                    </div>
                    <div class="growup-class-info">
                        班级成员:10
                    </div>
                    <div class="growup-class-info">
                        班级号:17971
                    </div>
                </div>
            </div>
        </div>
        <!--返回顶部-->
        <div class="sidebar fix dn" id="work_sidebar" style="display: none;">
            <a href="javascript:void(0)" class="dib fl scroll-top"></a>
        </div>
    </div>
</div>
<!-- 可变内容 -->